target/
!.mvn/wrapper/maven-wrapper.jar
/data/
/content-core/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
idea/

### NetBeans ###
nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/

log.path_IS_UNDEFINED/
.DS_Store